@import "./typograph.css";
@import "./colors.css";
@import "./switch.css";
@import "boxFonts.css";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter" ;
}

body.lightmode{
    background-color: #ffffff;
}

body.darkmode{
    background-color: var(--black01);
}


.display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container{
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    height: auto;
    padding: 1.5rem;
}

.preferences{
    display: flex;
    justify-content: space-between;
}

.display-flex-font-and-theme{
    display: flex;
    align-items: center;
}

.font{
  margin-right: 1.2rem;
  display: flex;
  position: relative;
}

.font  > p{
    font-weight: bold;
    cursor: pointer;
    width: 80px;
}

.font  > p.lightmode{
    color: var(--black03);
}

.font  > p.darkmode{
    color: var(--white);
}

.font  p{
    font-weight: bold;
}


.font > img{
    margin-left: 0.5rem;
    cursor: pointer;
}

.font:after{
    content: "";
    width: 2px;
    height: 30px;
    background-color: #E9E9E9;
    position: absolute;
    right: -0.5rem;
}

.day-night-theme{
    display: flex;
    gap: 0.5rem;
}

.div-input-search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
    
}

.input-search{
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 20px;
   
}

.input-search.lightmode{
    background-color: var(--grey04);
    color: var(--black03);
    font-weight: bold;
}

.input-search.darkmode{
    background-color: var(--black02);
    color: var(--white);
    font-weight: bold;
}

.icon-search{
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    width: 20px;
    cursor: pointer;
}

.div-word-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.word-search h1{
    
}

.word-search h1.lightmode{
    color: var(--black03);
}

.word-search h1.darkmode{
    color: var(--white);
}
.word-search p{
    color: var(--violet);
}

.word-search-icon-play{
    display: flex;
    justify-content: end;
}
.word-search-icon-play img{
    width: 70%;
    cursor: pointer;
    
}

ul{
    margin:0 0 0 3rem;
}

.part-of-speech{
    margin: 1rem 0;
    
}

.part-of-speech.lightmode{
    color: var(--black03);
}

.part-of-speech.darkmode{
    color: var(--white);
}   

.meaning{
    margin: 0.8rem 0;
    color: var(--grey02);
}


.divMeaning ul.lightmode{
    color: var(--black03);
}

.divMeaning ul.darkmode{
    color: var(--white);
}

.divMeaning ul li::marker{
    color: var(--violet);
}

.synonymous{
    margin-top: 1rem;
    color: var(--grey02);
}

.synonymous > span{
    color: var(--violet);
}

.word-search-icon-play audio{
    display: none;
}

.div-source{
    display: flex;
    margin-top: 0.8rem;
    
}

.div-source p{
    color: var(--grey02);
    margin-right: 0.5rem;
}

.div-source span{
    color: var(--black03);
    cursor: pointer;
}

