@import "./switch.css";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}


.display-flex{
   
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container{
    width: 100%;
    max-width: 45rem;
    margin: 0 auto;
    height: auto;
    padding: 1.5rem;
}

.preferences{
    display: flex;
    justify-content: space-between;
}

.display-flex-font-and-theme{
    display: flex;
    align-items: center;
}

.font{
  margin-right: 1.2rem;
  display: flex;
  position: relative;
}


.font img{
    margin-left: 0.5rem;
}

.font:after{
    content: "";
    width: 2px;
    height: 30px;
    background-color: #E9E9E9;
    position: absolute;
    right: -0.5rem;
}

.day-night-theme{
    display: flex;
    gap: 0.5rem;
}

.div-input-search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
    
}

.input-search{
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 20px;
    background-color: #F4F4F4;
   
}

.icon-search{
    position: absolute;
    right: 1.2rem;
    top: 1rem;
    width: 20px;
    cursor: pointer;
}

.div-word-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.word-search h1{
    font-size: 2.5rem;
}

.word-search-icon-play{
    display: flex;
    justify-content: end;
}
.word-search-icon-play img{
    width: 70%;
    cursor: pointer;
    
}

ul{
    margin:0 0 0 3rem;
}

.part-of-speech{
    margin: 1rem 0;
}

.meaning{
    margin: 0.8rem 0;
}

.synonymous{
    margin-top: 1rem;
}

.word-search-icon-play audio{
    display: none;
}